profiles {
    // Profile to use on M2 Mac
    my_laptop {
        process.executor = "local"
        conda.enabled = true
        process.resourceLimits = [
            cpus: 8
        ]
        //params.igenomes_base = '/Users/stubbe/Desktop/Ressources/NGS/igenomes'
    }

        my_tower {
        process.executor = "local"
        docker.enabled = true
        process.resourceLimits = [
            cpus: 28
            memory: 16.GB
        ]
    }
}

// Default configuration for processes
process {
    // Default executor and CPU limit
    executor = 'local'
    cpus = 8
}


// -----------------------------------
//
// Pipeline Parameters
//
// -----------------------------------


params {
    // Define your parameters here
    metadata = '/Users/stubbe/Desktop/metadata.csv'
   // metadata = '/mnt/d/metadata.csv'

    //Choose the outdir Directory
    outdir = "/mnt/d/cutrun_output"
     outdir = '/Users/stubbe/Desktop/CR_output'


    //
    // Alignment parameters
    //



    //MultiQC
    multiqc_title           = 'Report_Summary_multiqc'
    dump_scale_factors      = false

    //Genome
    //igenomes_base = '/Users/stubbe/Desktop/Ressources/NGS/igenomes'
    //params.igenomes_base = '/mnt/d/iGenomes'
    params.igenomes_base = '/Users/stubbe/Desktop/Ressources/NGS/igenomes'
    genome = 'WBcel235' //Make sure the params.genomes_base is properly defined
    spike_genome = 'EB1' 

    
    publish_dir_mode = 'copy'

    //    
    // Alignment
    //
    
    //aligner                       = "bowtie2"
    end_to_end                      = true //End-to-emd alignment
    
    //bowtie alignment parameters
    save_bam_unsorted               = false //Enable to save unsorted bam
    save_unmapped_reads             = false //Enable to save unmapped reads to the target genome
    
    spike_align                     = true
    save_bam_pikein_aligned         = true

    //Sorted BAM
    save_bam_sorted                 = true //Enable to save sorted bam
    save_bam_sorted_index           = true //Enable to save sorted bam index
    params.save_bam_sorted_stats    = true //Enable to save sorted bam stats   

    params.remove_duplicates        = false

    // Read filtering
    params.minimum_alignment_q_score    =   30 //Minimum alignment q-score for reads to be kept
    params.remove_mitochondrial_reads   =   true //Remove mitochondrial reads from the target genome
    params.mito_name                    =   null //Mitochondrial name, if not provided, it will be taken from the genome config


    // Read Normalisation
    normalisation_mode              = 'CPM' //Normalisation mode for the data, can be 'none', 'RPKM', 'RPM', 'CPM', 'TMM', 'DESeq2', 'edgeR'
    normalisation_binsize           = 50
    normalisation_c                 = 10000
    igg_scale_factor                = 0.5

    // Peak Calling
    run_peak_calling                = true //Enable to run peak calling
    peak_caller                     = 'seacr' 
    extend_fragments                = true
    
    }

includeConfig './conf/igenomes.config'
includeConfig 'conf/modules.config'

