profiles {
    // Profile to use on M2 Mac
    my_laptop {
        process.executor = "local"
        conda.enabled = true
        process.resourceLimits = [
            cpus: 8
        ]
    }
}

// Default configuration for processes
process {
    // Default executor and CPU limit
    executor = 'local'
    cpus = 8
}


// -----------------------------------
//
// Pipeline Parameters
//
// -----------------------------------

params {
    // Define your parameters here
    metadata = '/Users/stubbe/Desktop/metadata.csv'
}